<div class="row-fluid">
  <div class="span9 project-title">
    <%= link_to project.title, project_ideas_path(project) %>
  </div>
  <div class="span2">
    <ul class="unstyled">
      <% project.users.each do |u| %>
        <li><%= gravatar_for(u, :size => 20) %> <%= u.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="span1 add-project">
    <a href="<%= edit_project_path(project) %>" title="Edit project and collaborators"><i class="icon-wrench"></i></a>
  </div>
</div>