<% provide(:title, 'Dashboard') %>
<div class="iwell">
  <h3>Projects</h3>
  <div class="content">
    <%= render :partial => "project", :collection => @projects %>
    
    <div class="add-project">
      <a href="/projects/new" title="Add Project"><i class="icon-plus"></i></a>
    </div>
  </div>
</div>
