<% provide(:title, 'Dashboard') %>
<h2>Dashboard</h2>
<h3>Projects</h3>
<ul>
  <%= render :partial => "project", :collection => @projects %>
</ul>
<%= link_to "New Project", new_project_path, :class => "btn btn-primary btn-large" %>
