<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Ideadb</h1>

  <h2>
    Based on an idea.
  </h2>

  <%= link_to "Sign up now!", '/signup', :class => "btn btn-large btn-primary" %>
</div>