<div id="ideas"></div>
<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.Ideadb.Config['project_id'] = <%= @project.id %>;
    window.router = new Ideadb.Routers.IdeasRouter({ideas: <%= @ideas.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>