<% provide(:title, @project.title) %>
<div class="row-fluid">
  <div class="span8">
    <div id="ideas">
    </div>
  </div>
  <div class="span4">
    <div id="addidea">
    </div>
    <div id="filter">
    </div>    
    <div id="sorting">
    </div>    
    <div id="tagfilter">
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name

    window.Ideadb.Application.start({
      ideas: <%= @ideas.to_json.html_safe %>,
      config: {
        project_id: <%= @project.id %>,
        current_user: <%= current_user.to_json.html_safe %>
      }
    });

    apply_style(<%= @pu.to_json.html_safe %>);

  });
</script>