<input type="text" class="input-medium search-query" placeholder="Search" id="search_query">
<% _.each(tag, function(t) { %>
  <span class="label label-inverse"><%= t %> | <a href="#" class="rm-tag" data-tag="<%= t %>">x</a></span> 
<% }) %>
<a href="#" id="reset-filter">Reset all</a>