
<div class="iwell">
  <h3>Ideas</h3>
  <div class="content">
    <p><a class="show_all" href="#">show all comments</a>, <a class="hide_all" href="#">hide all comments</a></p>
    <div id="ideas">
    </div>
  </div>
</div>
