<div class="iwell">
  <h3>Sorting</h3>
  <div class="content">
    <span class="sortingbtn">
      <a href="#" class="sort"><i class="icon-chevron-down icon-sorting active"></i></a><a href="#" class="sortdesc"><i class="icon-chevron-up icon-sorting"></i></a>
    </span>  
    <select>
      <option value='date'>Date</option>  
      <option value='author'>Author</option>
      <option value='shuffle'>Shuffle</option>
    </select>
  </div>
</div>
