<h3>Tags</h3>
<div class="content">
  <ul class="unstyled">
    <% _.each(tags, function(t) { %>
      <li>
        <span class="tag"><%= t[1] %></span>
        <span class="tag"><a href="#" class="tag-link" data-tag="<%= t[0] %>"><%= t[0] %></a></span>
        <span class="tag"><a href="#" class="without-tag-link" title="without filter" data-tag="<%= t[0] %>">-</a></span>
      </li>
    <% }) %>
  </ul>
</div>
